body {
    min-width: 300px;
    background-color: black;
    overflow: hidden;
}

.flash {
    z-index: 99999;
    position: absolute;
    right: 10px;
    top: 0px;
    border-radius: 0px 0px 6px 6px !important;
    color: white;
    -webkit-box-shadow: 2px 2px 3px -1px #8F8F8F;
    box-shadow: 2px 2px 3px -1px #8F8F8F;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#start-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

#msg {
    position: absolute;
    width: 100%;
    line-height: 100vh;
    text-align: center;
    opacity: 0;
    color: white;
    font-size: 1em;
    font-weight: 900;
    z-index: 999;
    text-shadow: 0 0 5px #050505, 0 0 10px #050505, 0 0 15px #050505;
}

#img {
    position: absolute;
}

#psychedelic {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.clickable-img {
    opacity: 0;
    cursor: pointer;
}

.clickable-img:hover {
    opacity: 1;
}